.btn_pri {
  padding: 3.1em 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  background: transparent;
  color: $color-white-01;
  border-radius: 50px;
  font-size: 1.35rem;
  transition: all 0.4s ease;
  font-weight: 500;
  line-height: 6px;
  box-shadow: 0 0 0 3em #b61984 inset;
  border: none;

  &:hover {
    box-shadow: 0 0 0 1px #b61984 inset;
    color: $color-primarily;

  }

  i {
    padding-right: 0.4rem;
  }
}

;